html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}









a{
    text-decoration: none;
    color: black;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gugi';
}

.sidebutton {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 30px;
    color:rgba(0, 0, 0, 0.329);
    transition: linear 0.5s;
    padding : 10px 10px;
}


.sidebutton:hover {
    transform: translateX(10px);
    color: rgba(119, 20, 20, 0.74);
}

.sidebutton.open{
    color: rgba(20, 119, 25, 0.623);
    transform: rotate(90deg);
    transition: linear 0.5s;
}

.sidebutton.open:hover{
    transform: rotate(0deg);
    color:rgba(7, 28, 150, 0.699);
}


.sidelist {
    display: none;
}

.sidelist.act {
    display : flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 1s linear;
    width: 20vmin;
    padding-top: 10px;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 999;
}

.sidelist.act> button {
    padding: 10px 0px;
    margin: 5px 0px;
    border: white solid 1px;
    border-radius: 10px;
    width: 90%;
    text-align: center;
    font-family:'Gugi';
}
.sidelist.act> button:hover {
    transform: scale(1.05);
    background-color: blanchedalmond;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}



















.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 20vh;
    
}
.fa-hand-point-down {
    color: rgba(81, 66, 112, 0.164);
    font-size: 4vmin;
    animation: fadeIn 4s linear;
    animation-iteration-count: infinite;
    margin-bottom: 10px;
}
#currentDate {
    border: none;
    font-family: 'Gugi';
    font-size: 4vmin;
    padding : 10px 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 40vw;
    animation: fadeIn 1s linear;
    color: rgba(81, 66, 112, 0.329);
}

#currentDate:hover {
    background-color: rgba(223, 190, 231, 0.329);
    color: rgba(81, 66, 112, 0.726);
    border-radius: 10px;
    transform: scale(1.01);
}

#currentDate::-webkit-calendar-picker-indicator {
    opacity: 0.35;
    padding: 4px 4px;
}

#currentDate::-webkit-calendar-picker-indicator:hover {
    background-color: rgba(147, 112, 216, 0.356);
    border-radius: 10px;
    
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.writetodo{
    border: none;
    text-align: center;
    font-size: 5vmin;
    margin: 10px;
    width: 60vw;
    max-width: 800px;
    padding: 15px;
    animation: fadeIn 1s linear;
    box-shadow: 0px 5px 0px 0px rgba(223, 234, 238, 0.8);
    font-family: 'Gugi';
}

.writetodo::placeholder {
    color: rgba(0, 0, 0, 0.404);
}

.writetodo:hover{
    background-color: rgba(173, 216, 230, 0.4);
    transform: scale(1.01);
    border-radius: 15px;
}

.todolist {
    margin: 40px;
}

.todolist li {
    animation: fadeIn 1s linear;
    margin: 5px 50px;
    text-align: left;
    padding : 10px;
    border-radius: 10px;
    background-color: rgba(99, 157, 212, 0.212);
}

.todolist li:hover {
    background-color: rgba(99, 157, 212, 0.4);
    transform: scale(1.01);
}



.todolist li > button {
    border: none;
    font-family: 'Gugi';
    background:none;
    font-weight: bolder;
    padding-top: 3px;
    font-size:3vmin;
    color:rgba(8, 74, 128, 0.74);
}

.todolist li > button:hover {
    transition: linear 0.3s;
    color:darkred;
    border-radius: 7px;
    background-color: rgba(99, 157, 212, 0.7);
}

.todolist li > span {
    margin-left: 10px;
    font-size: 3vmin;
    color:rgba(0, 0, 0, 0.5)
}
